@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>Under Construcition</p>
    <p>Weather Data:</p>
</div>
<tr>
    <td>@Model.data</td> <!-- Ta linijka wypluwa całego JSON-a -->
</tr>
